<h1>Editing Translation Object String</h1>

<%= render 'form', translation_object_string: @translation_object_string %>

<%= link_to 'Show', @translation_object_string %> |
<%= link_to 'Back', translation_object_strings_path %>
