<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_translation_object_group_section_label_path(@translation_object_group_section_label) %> |
<%= link_to 'Back', translation_object_group_section_labels_path %>
