<%= form_with(model: bucket_discussion, local: true) do |form| %>
  <% if bucket_discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bucket_discussion.errors.count, "error") %> prohibited this bucket_discussion from being saved:</h2>

      <ul>
        <% bucket_discussion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
