<%= form_with(model: deploy) do |form| %>
  <% if deploy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(deploy.errors.count, "error") %> prohibited this deploy from being saved:</h2>

      <ul>
        <% deploy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
