<h1>Editing Translation Object Group Section</h1>

<%= render 'form', translation_object_group_section: @translation_object_group_section %>

<%= link_to 'Show', @translation_object_group_section %> |
<%= link_to 'Back', translation_object_group_sections_path %>
