<%= form_with(model: string, local: true) do |form| %>
  <% if string.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(string.errors.count, "error") %> prohibited this string from being saved:</h2>

      <ul>
        <% string.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
