<template>
    <li>
        <%= link_to root_path, class: "navbar-item" do %>
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
        <% end %>
    </li>
    <li>
        <%= link_to translation_path, class: "navbar-item" do %>
            <i class="fas fa-language"></i>
            Translations
        <% end %>
    </li>
</template>
