<%= form_with(model: translation_bucket, local: true) do |form| %>
  <% if translation_bucket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translation_bucket.errors.count, "error") %> prohibited this translation_bucket from being saved:</h2>

      <ul>
        <% translation_bucket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
